services:
# ---------- PROXY ----------
  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - frontend
    ports:
      - "${NGINX_PORT:-8080}:80"
    networks:
      - transcendence

# ---------- FRONT ----------
  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:5173"
    networks:
      - transcendence
    volumes:
      - ./frontend:/app
      - /app/node_modules

# ---------- GAME SERVER ----------
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD : ${DB_PASSWORD}
      PORT: 3001
    networks:
      - transcendence

# ---------- API SERVER ----------
  api:
    build: ./api
    container_name: api
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      PORT: 3000
    ports:
      - "3000:3000"
    networks:
      - transcendence
      - api_mariadb_net

# ---------- DATABASE GUI ----------
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - 8081:8080
    networks:
      - transcendence
      - api_mariadb_net

# ---------- DATABASE ----------
  mariadb:
    build: ./mariadb
    container_name: mariadb
    restart : unless-stopped
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    networks:
      - api_mariadb_net
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3


networks:
  api_mariadb_net:
    driver: bridge
    internal: true

  transcendence:
    name: transcendence


volumes:
  mariadb_data: